<%= render "shared/header" %>
<div class='item-contents'>
  <div class='title'>
    <h1>ピックアップカテゴリー</h1>
  </div>
  <div class="post_title">
    <%= link_to "投稿", class: :game__title%>
  </div>
  <div class="card__wrapper">
    <%= render "shared/game-title" %>
  </div>
</div>
<%= render "shared/footer" %>
