<div class="card">
  <%= link_to "ゲームの画像","#", class: :card__img  %>
  <div class="card__body">
    <%= link_to "ゲームのタイトル", "#", class: :card__title%>
    <p class="card__summary">
      <%= "ゲームのキャッチコピー" %>
    </p>
  </div>
</div>